<div class="container">
    <header class="header">
        <div class="header__side">
            <a href="/" class="logo">Персональный блог</a>
            <div class="header__menu">
                <a href="">Комментарии</a>
                <a href="">Теги</a>
                <a href="">Пользователи</a>
                <a href="">Роли</a>
            </div>
        </div>

        <div class="header__burger">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M3 4.75H21" stroke="#FF6347" stroke-width="1.5" stroke-miterlimit="10" />
                <path d="M3 19.25H21" stroke="#FF6347" stroke-width="1.5" stroke-miterlimit="10" />
                <path d="M21 12H3" stroke="#FF6347" stroke-width="1.5" stroke-miterlimit="10" />
            </svg>
        </div>
        <a href="auth.html" class="header__button">Войти</a>
    </header>
</div>

<div class="side-menu">
    <div class="side-menu-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M20 4L4 20" stroke="#FF6347" stroke-width="1.5" stroke-miterlimit="10" />
            <path d="M20 20L4 4" stroke="#FF6347" stroke-width="1.5" stroke-miterlimit="10" />
        </svg>
    </div>
    <div class="side-menu__menu">
        <a href="auth.html">Вход / Регистрация</a>
        <a href="">Комментарии</a>
        <a href="">Теги</a>
        <a href="">Пользователи</a>
        <a href="">Роли</a>
    </div>

</div>